{{ attach_library('ide_patrimonio/ide_patrimonio') }}
<div class="container-fluid bg-ide">
  <div class="container py-3">
    <button class="btn btn-ide-patrimonio my-3 mw-15" onclick="window.history.back()">Volver</button>

    <div class="mb-5">
      <img class="img-fluid align-text-bottom" src="{{ patrimonio.capa_ic }}">
      <span class="font-wb font-s32 color-black">{{ patrimonio.capa }}</span>
    </div>

    <div class="font-wb font-s24  font-color-ficha-tecnica">{{ patrimonio.name }}</div>
    <hr class="horizontal-line"/>

    <div class="row ficha-tecnica font-color-ficha-tecnica mb-3 pt-2">
      <div class="col-md-6">
        <img class="img-fluid br-4 w-100  {{ 'images/capas' in patrimonio.url and '_540.png' in patrimonio.url  ? 'img-ic-capa' : '' }}" src="{{ patrimonio.url }}">
      </div>
      <div class="col-md-6">
        <div class="font-wb font-s24 mb-40">
          <span>Ficha Técnica</span>
        </div>
        <div class="font-wn font-s16">Región</div>
        <div class="font-wb font-s20">{{ patrimonio.region }}</div>
        <div class="font-wn font-s16">Provincia</div>
        <div class="font-wb font-s20">{{ patrimonio.provincia }}</div>
        <div class="font-wn font-s16">Comuna</div>
        <div class="font-wb font-s20">{{ patrimonio.comuna }}</div>
      </div>
    </div>
    <iframe height="382" class="br-18 w-100 mt-3 border-0"
            allow="autoplay,camera,microphone,payment,accelerometer,geolocation,encrypted-media,gyroscope"
            src="{{ patrimonio.visor }}&center={{ patrimonio.longitude }},{{ patrimonio.latitude }}&level={{ patrimonio.zoom }}"></iframe>
  </div>
</div>
